<main>
  <div class="container">
    <% if @address.errors.any? %>
      <%= @address.errors.count %>件のエラーが発生しました
      <% @address.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    <h4>配送先編集</h4>
    <%= form_with model:@address,url: address_path, local:true do |f|%>
      <h6>郵便番号(ハイフンなし)</h6>
      <%= f.text_field :postal_code%>
      <h6>住所</h6>
      <%= f.text_field :address%>
      <h6>宛名</h6>
      <%= f.text_field :name%>
      <%= f.submit '変更内容を保存',class:"btn btn-success"%>
    <%end%>
  </div>
</main>