<main>
  <div class= "container">
    <div class="row">
       <h4>注文情報確認</h4>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          <tr>
        <thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <th><%= cart_item.item.name %></th>
              <th><%= (cart_item.item.price*1.1).floor %></th>
              <th><%= cart_item.amount%></th>
              <th><%= (cart_item.item.price*1.1*cart_item.amount).floor %></th>
            </tr>
          <% end %>
        </tbody>
        </table>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <table class="table">
         <% @cart_items.each { |cart_item| @total += cart_item.item.price*cart_item.amount } %>
          <tr>
            <th><label>送料</label></th>
            <th><%= @shipping_cost %></th>
          </tr>
          <tr>
            <th><label>商品合計</label></th>
            <th><%= @total*1.1.floor %></th>
          </tr>
          <tr>
            <th><label>請求金額</label></th>
            <th><%= @total*1.1.floor+@shipping_cost%></th>
          </tr>
        </table>
      </div>
     </div>


     <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table">
          <tr>
            <th><label>支払方法</label></th>
              <th><%= @order.payment_method %></th>
          </tr>
          <tr>
            <th><label>お届け先</label></th>
              <th><%= @order.postal_code+@order.address%><th>
          </tr>
          <tr>
            <th></th>
            <th><%= @order.name%></th>
          </tr>
          <tr>
            <%= form_with model: @order, url:public_orders_path,method: :post, local:true do |f| %>
              <%= f.hidden_field :payment_method, :value =>  @order.payment_method %>
              <%= f.hidden_field :postal_code, :value => @order.postal_code %>
              <%= f.hidden_field :address, :value => @order.address %>
              <%= f.hidden_field :name, :value => @order.name %>
              <%= f.hidden_field :shipping_cost, :value => 800 %>
              <%= f.hidden_field :total_payment, :value => @total*1.1+@shipping_cost %>
              <th><%= f.submit "注文を確定する"%><th>
            <%end%>
          </tr>
       </table>
     </div>
  </div>
</main>